@tailwind base;
@tailwind components;
@tailwind utilities;

.container{
    position: absolute;
    left: 22%;
}
.button{
    padding: 1rem 2rem;
    background-color: beige;
    margin-left: 1rem;
    font-size: 1.2rem;
    font-family: cursive;
    margin-top: 5rem;
}

.content{
    margin-left: 19rem;
    margin-top: 2rem;
    font-family: cursive;
    font-size: 1.3rem;
}